<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-a11y="true"></script>

<div class="container-fluid ps-md-0">

    <div class="row g-0">
        <div class=" col-md-4 col-lg-6"><img style='width: 100%;height: 100vh;' src="../static/Frame123.jpg" alt=""></div>

        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="login-container">
                            <h3 class="login-heading mb-4" style="color: #216DB4;">Welcome to FloAssist</h3>

                            <!-- Sign In Form -->
                            <form action="/login" method="POST">
                                <div class="form-floating mb-3">
                                    <div style="font-size: 14px;">Bots ready for enhancing user experience which can be consumed through any channel with smart integrations.</div>
                                    <br>

                                    <label for="floatingInput">User name</label>

                                    <input type="text" class="form-control" id="floatingInput" name='username' placeholder="name@example.com">
                                </div>
                                <div class="form-floating mb-3">

                                    <label for="floatingPassword">Password</label>


                                    <div class="input-group mb-3">

                                        <input class="form-control" id="password" name="password" placeholder="Password" value="">
                                        <span class="input-group-text">
                                          <i class="far fa-eye" id="togglePassword" 
                                         style="cursor: pointer" onclick="change_password(this)"></i>
                                         </span>
                                    </div>

                                </div>
                                <label for="floatingPassword" style=" color: #4D3EFF;
                                ;">Forgot Password</label>

                                <div class="form-check mb-3">
                                </div>

                                <div class="d-grid">
                                    <button style="width: auto;text-align: center;background-color: #216DB4;color: white;width: 100%;height: 12%;border: 0px;" type="submit">Login</button><br>

                                    <div class="text-center">

                                    </div>
                                </div>

                                <p>OR</p>
                                <br>
                                <div style="font-size: 18px;display: inline"> Don’t have an account ?</div>
                                <div style="color: #216DB4;display: inline">Sign up</div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .login {
        min-height: 100vh;
    }
    
    .bg-image {
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        object-fit: cover;
    }
    
    .login-heading {
        font-weight: 300;
    }
    
    .btn-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
    }
    
    body {
        font-family: Roboto;
    }
    
    .login-container {
        padding-left: 70px;
        width: 85%;
    }
    
    p {
        color: black;
        position: relative;
        display: inline-block;
        margin-left: 180px;
        margin-top: 20px;
    }
    
    p:before {
        content: "_____________________";
        color: black;
        position: absolute;
        top: -5px;
        left: -180px;
        opacity: 0.5;
    }
    
    p:after {
        content: "_____________________";
        color: black;
        position: absolute;
        top: -5px;
        right: -180px;
        opacity: 0.5;
    }
</style>

<script type="text/javascript">
    const togglePassword = document.querySelector("#togglePassword");

    const password = document.querySelector("#password");

    function change_password(icon) {


        // toggle the type attribute
        const type = password.getAttribute("type") === "password" ? "text" : "password";

        password.setAttribute("type", type);
        // toggle the eye icon
        icon.classList.toggle('fa-eye');
        icon.classList.toggle('fa-eye-slash');
    }
</script>