<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        * {
            box-sizing: border-box;
        }
        /* Add padding to containers */
        
        .container {
            padding: 16px;
            background-color: white;
            border: 1px solid rgb(0, 0, 0, 0.5)
        }
        /* Full-width input fields */
        
        input[type=text],
        input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }
        
        input[type=text]:focus,
        input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }
        
        .image {
            width: 48%;
        }
        /* Overwrite default styles of hr */
        
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }
        /* Set a style for the submit button */
        
        .registerbtn {
            background-color: #04AA6D;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }
        
        .registerbtn:hover {
            opacity: 1;
        }
        /* Add a blue text color to links */
        
        a {
            color: dodgerblue;
        }
        /* Set a grey background color and center the text of the "sign in" section */
        
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        }
    </style>
</head>

<body>

    <form action="/">
        <div class="container" style='height:100%'>
            <br>
            <img src="{{url_for('static', filename=mobile_operator)}}" class='image'>
            <h1>Mobile recharge</h1>
            <p>Please fill the card details to proceed payment</p>
            <hr>

            <label for="email"><b>Account number</b></label>
            <input type="text" placeholder="Enter Account number" name="email" id="email" required>

            <label for="psw"><b>CVV</b></label>
            <input type="text" placeholder="Enter CVV" name="psw" id="psw" required>


            <label for="psw"><b>expiry date:</b></label><br>

            <input type="month" style='margin-top:2%' id="start" name="start" min="2018-03" value="2018-05">

            <hr>


            <button type="submit" class="registerbtn">Pay Rs.{{ amount }}</button>
        </div>

        <div class="container signin">
            <p>Third party payment <a href="#">GPay</a> or <a href="#">Phone pay</a</p>
  </div>
</form>

</body>
</html>