.attribution {
  font-size: 11px;
  text-align: center;
  padding: 5px 20px 5px 20px;
  margin: 0px;
  width: 100%;
  z-index: 1;
}
.attribution a { color: hsl(228, 45%, 44%); }


body {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  padding-top: 5%;
  background-color: rgba(250, 252, 251, 0.877);
}


#main-content {
  padding: 10% 0;
  position: relative;
  overflow: hidden;
}

.bg {
  position: absolute;
  z-index: 0;
}

#bg-left {
  width: 40%;
  height: 86%;
  top: 0;
  left: -11%;
  background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-bottom-left-radius: 90%;
  border-bottom-right-radius: 65%;
}

#bg-right {
  width: 30%;
  height: 85%;
  bottom: 0;
  right: -7%;
  background-image: linear-gradient(hsl(264, 33%, 97%), hsl(290, 43%, 97%));
  border-top-left-radius: 50%;
  border-top-right-radius: 35%;
}

/* Chat screen styles */
#phone-screen {
  width: 60%;
  height: 100%;
  border: 10px solid #FFF;
  background-color: rgb(250, 245, 250);
  border-radius: 30px;
  box-shadow: 0px 0px 5px 0px hsl(271, 36%, 24%);
  overflow: hidden;
  margin-left: 20%;
}



#chat-header {
  width: 100%;
  height: 33px;
  background-image: linear-gradient(to right, hsl(264, 100%, 61%) , hsl(293, 100%, 63%));
  border-radius: 5px;
}

.cut-header {
  height: 18px;
  width: 128px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: #FFF;
  margin: 0 auto;
}

#header-bar {
  float: left;
  margin-top: 12px;
  width: 100%;
}

/* Back button */
#btn-back {
  display: inline-block;
  float: left;
  height: 28px;
  width: 14px;
  margin-left: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.bar1, .bar2 {
  width: 10px;
  height: 2px;
  border-radius: 1px;
  background-color: #FFF;
  margin: 0;
}

.bar1 {
  -webkit-transform: rotate(-60deg) translate(-8px, 6px);
  transform: rotate(-60deg) translate(-8px, 6px);
}

.bar2 {
  -webkit-transform: rotate(60deg) translate(14px, 7px);
  transform: rotate(60deg) translate(14px, 7px);
}

/* Receiver Table */
#receiver {
  float: left;
}

#receiver h4, #receiver p {
  margin: 0;
  padding: 0;
}

.receiver-avatar {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  border: 1px solid #FFF;
  margin-right: 10px;
}

.receiver-name {
  font-size: 0.7em;
  font-weight: 400;
  color: #FFF;
}

.receiver-status {
  font-size: 0.5em;
  color: hsl(276, 100%, 81%);
}

#ver-three-dots {
  float: right;
  height: auto;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 12px;
  margin-top: 10px;
  cursor: pointer;
}

.dot {
  width: 2px;
  height: 2px;
  background-color: hsl(270, 20%, 96%);
}

.dot2 {
  margin: 1px 0;
}

/* <!-- 248 * 506 --> */

/* Chat body */
.scroll-body {
  width: 100%;
  height: 370px;
  overflow: hidden;
  position: relative;
}

#chat-body {
  width: 100%;
  min-height: 380px;
  font-size: 0.5em;
  padding: 8px;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.chat-row {
  width: 100%;
  float: left;
  margin-bottom: 8px;
}

#chat-body p {
  margin: 0;
  padding: 8px;
  max-width: 80%;
}

#chat-body img {
  float: left;
  margin-left: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

#chat-body .price-tag {
  width: 70%;
  padding: 8px;
  background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
}

/* Message recived */
.msg-recived p {
  color:black;
  background-color: hsl(272, 41%, 93%);
}

.msg-recived .border-styles {
  border-radius: 10px 10px 10px 4px;
}

/* Message sent */
.msg-sent .align-content {
  float: right;
}

.msg-sent .border-styles {
  border-radius: 10px 10px 4px 10px;
}

.msg-sent p {
  color: hsl(271, 15%, 43%);
  background-color: #FFF;
}


/* Use for show hide message */
.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}


/* Custom Radio Button */
.radio {
  font-size: 0.5rem;
  display: grid;
  grid-template-columns: min-content 60% auto;
  grid-gap: 8px;
  align-items: center;
  margin: 0;
  cursor: pointer;
}

.radio__input {
  display: flex;
}

.radio__input input {
  opacity: 0;
  width: 0;
  height: 0;
}

.radio__control {
  display: grid;
  place-items: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid hsl(289, 100%, 72%);
}

.radio__input input + .radio__control::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #FFF;
  border-radius: 50%;
  -webkit-transition: 180ms transform ease-in-out;
  transition: 180ms transform ease-in-out;
  transform: scale(0);
}

.radio__input input:checked + .radio__control::before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.radio__input input:focus + .radio__control {
  box-shadow: 0 0 3px 2px hsl(264, 100%, 61%);
}

.radio__label {
  line-height: 1;
  color: hsl(276, 100%, 81%);
}

.radio .price {
  font-size: 1.2em;
  font-weight: 700;
  color: #FFF;
}


/* Chat footer */
#chat-footer {
  width: 100%;
  height: 50px;
  padding: 10px 8px;
  position: relative;
}

.input-msg {
  width: 100%;
  border-radius: 15px;
  border: none;
  font-size: 0.5em;
  padding: 10px 35px 8px 20px;
  height: 100%;
  outline: none;
  line-height: 1;
}

.input-msg::placeholder {
  color: hsl(206, 6%, 79%);
}

.btn-sent {
  position: absolute;
  top: 13px;
  right: 11px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: hsl(271, 36%, 24%);
  border: none;
  color: #FFF;
}

.btn-sent:hover {
  filter: brightness(150%);
}

.btn-sent:focus {
  outline: none;
}

scroll

/* Introduction */
.intro-content h1 {
  color: hsl(271, 36%, 24%);
  margin-top: 31%;
  margin-bottom: 23px;
}

.intro-content p {
  color: hsl(270, 7%, 64%);
  width: 80%;
  line-height: 1.8;
}

@media only screen and (max-width: 991px) {
  /* Chat screen styles */
  #phone-screen {
    margin: 0 auto;
  }

  /* Introduction */
  .intro-content p {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {

  /* Background */
  #main-content {
    padding: 16% 5%;
  }

  #bg-left {
    width: 50%;
    height: 55%;
    top: 0;
    left: 0%;
    background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 100%;
  }

  #bg-right {
    width: 50%;
    height: 55%;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(hsl(264, 33%, 97%), hsl(290, 43%, 97%));
    border-top-left-radius: 100%;
    border-top-right-radius: 0%;
  }


  /* Introduction */
  .intro-content {
    text-align: center;
  }

  .intro-content h1 {
    margin-top: 70px;
  }

}


/*
#### Text

left background: 237, 229, 244 hsl(272, 41%, 93%)
right background: #FFF

- Pale Violet (sub-heading at the top of the app UI): hsl(276, 100%, 81%)
- Moderate Violet (chat on the left): hsl(276, 55%, 52%)
- Desaturated Dark Violet (chat on the right): hsl(271, 15%, 43%)
- Grayish Blue (placeholder text): hsl(206, 6%, 79%)
- Very Dark Desaturated Violet (main heading): hsl(271, 36%, 24%)
- Dark Grayish Violet (paragraph): hsl(270, 7%, 64%)

#### Gradients

These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:

- Light Magenta: hsl(293, 100%, 63%) 233,66,255 #E942FF
- Light Violet: hsl(264, 100%, 61%) 136,56,255 #8838FF

247,245,250 hsl(264, 33%, 97%)

250,245,251 hsl(290, 43%, 97%)

### Secondary

- White: hsl(0, 0%, 100%) 255,255,255 #FFFFFF
- Light Grayish Violet (app background): hsl(270, 20%, 96%)  245,243,247 #F5F3F7
- Very Dark Desaturated Violet (submit button background): hsl(271, 36%, 24%) 62,39,83 #3E2753
- Very Light Magenta (radio button outline): hsl(289, 100%, 72%) 229,112,255 #E570FF
 */
