<html>
    <!-- <p id='new'></p> -->
<body style="background-color: #E2E7ED;">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>
  <script
  src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
  data-auto-a11y="true"
></script> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style_for_image.css') }}">



<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<!-- <div class="popup"  style='position: absolute;margin:auto;top: 50%;width: 80%;'><span class="popuptext" id="myPopup"><button style='width: 100%;opacity: 0.75;' onMouseOver="this.style.color='#04AA6D'" id="user_input" onMouseOut="this.style.color='black'">user input</button><button style='width: 100%;opacity: 0.75' onMouseOver="this.style.color='#04AA6D'" id='bot_response' onMouseOut="this.style.color='black'">bot response</button></span></div> -->
<div id='richard' style="width: 1%;height: 1%;border: 5px solid white;top:50%;position: absolute;margin-top: 30%;"></div>
<div class="alert alert-success" id="alert" style="text-align: center;position:fixed;width: 100%;">
    
</div>

    <!-- <div class='question_container' style="text-align: center;position:fixed;width: 100%;" id='question'> -->

    </div>
                 

<div class='row'>

<div class="col-md-9">
  <chart style='overflow: scroll;overflow-x:scroll;overflow-y:scroll;width: 50%;height: 100%;' id='chart'>
    <!-- <div id="halfpage" class="col-md-9" style="height: 100%;width:100%;overflow: scroll;border: solid 1px;"> -->

  
  </chart>
</div>
<form action="/test_bot" style ='padding-left: 5%;padding-top:2%;height:5px;position: fixed;' style="width: 100%;margin-top: 5%;" method="POST">
  <input type="submit"  class='btn' id='create' value='TEST YOUR BOT'>
</form>

<div class="col-md-9" id='validate_width_max'; style="position: fixed;  border-radius: 5px; margin-top: 5%; float: right;margin-left: 70%;width:30%;background-color:white;display: none;max-height: 500px;overflow-y:scroll;overflow-x: hidden;">
  
<div class='row'>
</div>
<div class='row'>
<div class="form-popup" id="myForm">
    <div class="form-container">
      <input type='hidden' placeholder="User input" id='question_dis'>

      <p id='entries'></p>
      <p style='display: none; overflow-x:scroll;max-width: 2000px;' id='validate_query_builder'></p>
      <p id='check_box'></p>
      <p id='check_box_key'></p>
      <button onclick='create_new_condition_for_response(`add`)' style='display: none;' id='adding_one_more_response_condition'>adding one more</button>
      <input type='text' id='authentication' style='display: none;' placeholder="Enter authentication token" >
      <div class="dropdown">

        <select class="dropbtn" id='content_type' style='display: none;' >
          <option value='text/plain'>text/plain</option>
          <option value='application/xml'>application/xml</option>
          <option value='application/json'>application/json</option>
          <option value='application/json'>text/html</option>
          <option value='image/gif'>image/gif</option>
          <option value='image/jpeg'>image/jpeg</option>
        </select>
        
      </div>
      <input type="text" id='response_to_be_shown' style='display: none;' placeholder="response to be shown to user">

      
      
      <div id='api_call' style='display: none;'>
        <!-- <input type='text' id='parameter' name='parameter' placeholder='enter the parameters'> -->
        <br>
        <input type="radio" id="post" name="fav_language" value="POST">
        <label for="html">POST</label>
        <input type="radio" id="get" name="fav_language" value="GET">
        <label for="css">GET</label><br>
      </div>
        
    </div>
</div>
</div>
<div class="row">
  <form id='add_button' action="/reloading_chart" style='width: 100%;margin-left: 4%;' method="POST" enctype = "multipart/form-data">
  <div id='image_file' style='display: none;'>    
    <div class="drag-area">
      <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
      <header>Drag & Drop to Upload File</header>
      <span>OR</span>
      <button id='browse_file'>Browse File</button>
      <br>
      
    </div>


    <input type = "file" id='new123' style='display: none;' name = "file" hidden>

    <br>
  </div>

  <input type="button" style="margin-left: 50% ;width: 43%;display: inline;" class='btn' id='add' onclick="create_new_child(document.getElementById('val+0').value)" value='ADD' >
    <input type="submit" style="width: 92%;display: none;" class='btn' id='save' value='SAVE CHANGES' >
  </form>
  
</div>


<script src="{{url_for('static', filename='script.js')}}"></script>
         
</div>
</div>

</script>

<script type='text/javascript'>



create_result_for_query_builder={}
group_value1={}
var result_for_query_builder=''
function create_values1(value1){

    create_values(value1)
    
    if(result_for_query_builder.substring(result_for_query_builder.length-5)=='and )'){
      result_for_query_builder=result_for_query_builder.substring(0,result_for_query_builder.length-6)
    }
    else{
      result_for_query_builder=result_for_query_builder.substring(0,result_for_query_builder.length-5)
    }


    result_for_query_builder=result_for_query_builder+')'
    return result_for_query_builder


}

function remove_child(value){

value=value.substring(0,value.length-6)

if(value.substring(0,3)=='Add'){
    
    group_value=value.substring(8,value.length)
    document.getElementById('remove_group'+group_value).remove()

}
else{
    
    group_value=value.substring(5,value.length)
    document.getElementById('remove_element'+group_value).remove()

}

}

function create_values(value){
    console.log(value)
    
    if(validation_dict[value]!=undefined){
    

    result_for_query_builder=result_for_query_builder+'('
	group_value1[value]=value.slice(8)+'R'

    

    if(validation_dict[value]!=undefined){
        for(i=1;i<validation_dict[value]+1;i++){

            if(isNaN(parseInt(document.getElementById('value'+group_value1[value]+i).value))){
                value_string="'"+document.getElementById('value'+group_value1[value]+i).value+"'"+")"
            }
            else{
                value_string=document.getElementById('value'+group_value1[value]+i).value+')'
            }
                            
            result_for_query_builder=result_for_query_builder+'('
            
            result_for_query_builder=result_for_query_builder+"API_response["+"'"+document.getElementById('key'+group_value1[value]+i).value+"'"+"]"
            result_for_query_builder=result_for_query_builder+document.getElementById('condition'+group_value1[value]+i).value
            result_for_query_builder=result_for_query_builder+value_string
            if (document.getElementById('logical'+value.slice(8)).value=='AND'){
                result_for_query_builder=result_for_query_builder+' and '
            }
            else{
                result_for_query_builder=result_for_query_builder+' or '
            }
            
        }
        // result_for_query_builder=result_for_query_builder.substring(0,result_for_query_builder.length-2)
        
        
        
        for(create_result_for_query_builder['Add_group'+group_value1[value].substring(0,group_value1[value].length-1)]=1;create_result_for_query_builder['Add_group'+group_value1[value].substring(0,group_value1[value].length-1)]<=validation_dict['Add_group'+group_value1[value].substring(0,group_value1[value].length-1)];create_result_for_query_builder['Add_group'+group_value1[value].substring(0,group_value1[value].length-1)]++){
            console.log('frank')
            create_values1(value+'R'+create_result_for_query_builder['Add_group'+group_value1[value].substring(0,group_value1[value].length-1)])
            //result_for_query_builder=result_for_query_builder.substring(0,result_for_query_builder.length-3)
            result_for_query_builder=result_for_query_builder.substring(0,result_for_query_builder.length-1)
            if (document.getElementById('logical'+value.slice(8)).value=='AND'){
                result_for_query_builder=result_for_query_builder+')'+' and '
            }
            else{
                result_for_query_builder=result_for_query_builder+')'+' or '
            }


        }




    }

    
 result_for_query_builder=result_for_query_builder+')'


 
}


}


function logical_condition_change(value){
    if(value.value=='AND'){
    value.value='OR'
    }
    else{
        value.value='AND'
    }

}


var i='<button>Add_group</button>'
var j='<button>Add_rule</button>'

// var x = document.createElement('BUTTON')
// var t = document.createTextNode("add group");
// x.appendChild(t);
// document.getElementById('validate_query_builder').appendChild(x);
// var x = document.createElement('BUTTON')
// var t = document.createTextNode("add group");
// x.appendChild(t);

var validation_dict={}
validation_dict[1]


function create_group(id_element){

	var space="&emsp;&emsp;"
	group_value=id_element.slice(9)


	for(i=0;i<(id_element.match(/R/g) || []).length;i++)
	{
		space=space+"&emsp;&emsp;"
	}



	
	if(validation_dict[id_element]==undefined){
		validation_dict[id_element]=1
		
		$('.'+id_element+'RR').prepend("<div id='remove_group"+group_value+`R`+validation_dict[id_element]+"'>"+space+"<button id='Add_group"+group_value+`R`+validation_dict[id_element]+"' onclick=create_group(this.id)>Add_group</button>"+"<button id='Add_rule"+group_value+`R`+validation_dict[id_element]+"' onclick='create_rule(this.id)'>Add_rule</button>"+"<div style='display:inline-block' class='validate_container'><div style='display:inline-block'  class='switch-toggle'><input type='checkbox' id='logical"+group_value+`R`+validation_dict[id_element]+"' value='AND' onchange=logical_condition_change(this)><label for='logical"+group_value+`R`+validation_dict[id_element]+"'></label></div></div><button onclick='remove_child(this.id)' id='Add_rule"+group_value+`R`+validation_dict[id_element]+"remove'>remove</button><div class='Add_group"+group_value+`R`+validation_dict[id_element]+"RR'></div></div>");

	}
	else{
		

		// parent_node=document.getElementById(id_element)
		// after_element=document.getElementById(id_element+'R'+validation_dict[id_element])
		// var x = document.createElement("BUTTON");
  		// var t = document.createTextNode("Click me");

		// x.appendChild(t);
		
		// parent_node.insertBefore(x, parent_node.firstElementChild.nextSibling);
				validation_dict[id_element]=validation_dict[id_element]+1
				$('.'+id_element+'RR').prepend("<div id='remove_group"+group_value+`R`+validation_dict[id_element]+"'>"+space+"<button id='Add_group"+group_value+`R`+validation_dict[id_element]+"' onclick=create_group(this.id)>Add_group</button>"+"<button id='Add_rule"+group_value+`R`+validation_dict[id_element]+"' onclick='create_rule(this.id)'>Add_rule</button>"+"<div style='display:inline-block' class='validate_container'><div style='display:inline-block' class='switch-toggle'><input type='checkbox' id='logical"+group_value+`R`+validation_dict[id_element]+"' value='AND' onchange=logical_condition_change(this)><label for='logical"+group_value+`R`+validation_dict[id_element]+"'></label></div></div><button  onclick='remove_child(this.id)' id='Add_rule"+group_value+`R`+validation_dict[id_element]+"remove' >remove</button><div class='Add_group"+group_value+`R`+validation_dict[id_element]+"RR'></div>");


	// $('#validate_query_builder').append("<br>"+space+"<button id='Add_group"+group_value+`R`+validation_dict[id_element]+"' onclick=create_group(this.id)>Add_group</button>");
	// $('#validate_query_builder').append("<button id='Add_rule"+group_value+`R`+validation_dict[id_element]+"' onclick='create_rule(this.id)'>Add_rule</button>");
	// $('#validate_query_builder').append("<button id='logical"+group_value+`R`+validation_dict[id_element]+"' >condition</button>");





	}


	

	//group_value=group_value+1
		
}
function create_rule(id_element){


	
	var appending_id = id_element.replace('rule','group');	
	var space="&emsp;&emsp;"
	group_value=id_element.slice(8)
	for(i=0;i<(id_element.match(/R/g) || []).length;i++)
	{
		space=space+"&emsp;&emsp;"
	}

	if(validation_dict[id_element]==undefined){
		
		validation_dict[id_element]=1
		$('.'+appending_id+'RR').prepend("<div id='remove_element"+group_value+'R'+validation_dict[id_element]+"'>"+space+"<input style='width:20%;height:5%' type='text' id='key"+group_value+'R'+validation_dict[id_element]+"'>"+"<select id='condition"+group_value+'R'+validation_dict[id_element]+"'><option><</option><option>==</option><option>></option><option><=</option><option>>=</option></select>"+"<input style='width:20%;height:5%' type='text' id='value"+group_value+'R'+validation_dict[id_element]+"'><button id='value"+group_value+'R'+validation_dict[id_element]+"remove' onclick='remove_child(this.id)'>remove</button><br></div>");

	}
	else{
		validation_dict[id_element]=validation_dict[id_element]+1
		$('.'+appending_id+'RR').prepend("<div id='remove_element"+group_value+'R'+validation_dict[id_element]+"'>"+space+"<input style='width:20%;height:5%' type='text' id='key"+group_value+'R'+validation_dict[id_element]+"'>"+"<select id='condition"+group_value+'R'+validation_dict[id_element]+"'><option><</option><option>==</option><option>></option><option><=</option><option>>=</option></select>"+"<input style='width:20%;height:5%' type='text' id='value"+group_value+'R'+validation_dict[id_element]+"'><button id='value"+group_value+'R'+validation_dict[id_element]+"remove' onclick='remove_child(this.id)'>remove</button><br>");

	}


}


previous_questions=[]
document.getElementById('alert').style.display="none"



function create_new_condition_for_response(value){
          


          if(value!='add'){
          text="<input type='text' id='name_of_response"+array_dict['count_for_api_validation']+"' placeholder='field'>"
          text=text+"<div class='dropdown'><select class='btn btn-secondary data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' dropdown-toggle' id='dropdownMenuButton"+array_dict['count_for_api_validation']+"' aria-labelledby='dropdownMenuButton'><option class='dropdown-item' >==</option><option class='dropdown-item' ><</option><option class='dropdown-item' ><=</option><option class='dropdown-item' >></option><option class='dropdown-item' >>=</option></select></div>"
          text=text+"<input type='text' id='value_of_response"+array_dict['count_for_api_validation']+"' placeholder='value'>"}
          else{
            array_dict['count_for_api_validation']=array_dict['count_for_api_validation']+1
            
            
            text="<input type='text' id='name_of_response"+array_dict['count_for_api_validation']+"' placeholder='key'>"
            text=text+"<div class='dropdown'><select class='btn btn-secondary data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' dropdown-toggle' id='dropdownMenuButton"+array_dict['count_for_api_validation']+"' aria-labelledby='dropdownMenuButton'><option class='dropdown-item' >==</option><option class='dropdown-item' ><</option><option class='dropdown-item' ><=</option><option class='dropdown-item' >></option><option class='dropdown-item' >>=</option></select></div>"
            text=text+"<input type='text' id='value_of_response"+array_dict['count_for_api_validation']+"' placeholder='key'>"


            $("#entries").append(text);

          }

        }
function show_textbox_for_key(key_value){
  console.log(key_value)
  
  some=document.getElementById('check_box_key').innerHTML+'<input type="text" placeholder="Enter key for '+key_value.id+'" id="'+key_value.id+'1">'
  document.getElementById('check_box_key').innerHTML=some

}


function create_new_child(adding_value){  
  
if (array_dict['type']=='validation'){


  adding_value= create_values1("Add_rule1")

  array_dict['type']='enter the user input'



}


  
new_nodes=[]

var question=document.getElementById('question_dis').value

// for(i=0;i<array[1];i++){
//     val=document.getElementById('val+'+i).value
//     if (val=='user choice'){
//       val='text box'
//     }
//     new_nodes.push(val)
    
// }

function new_API_creation(childs_iterate){
  parameter={}
  for(parameter_key=0;parameter_key<previous_questions.length;parameter_key++){
    if(document.getElementById(previous_questions[parameter_key]+1)!=undefined){
    parameter[document.getElementById(previous_questions[parameter_key]+1).value]=previous_questions[parameter_key]
    }

  }

authentication=document.getElementById('authentication').value
content_type=document.getElementById('content_type').value
response_to_be_shown=document.getElementById('response_to_be_shown').value


  if (document.getElementById('get').checked) {
  method = 'get'
}
else{
  method = 'post'
}




  for(o=0;o<new_nodes.length;o++){

                new_child[o]={};
                new_child[o]['name']=new_nodes[o];
                new_child[o]['url']="https://stackedit.io/";
                new_child[o]["experience"]="Practical";            
                new_child[o]["type"]=array_dict['type']          
                new_child[o]['parameter']=parameter
                new_child[o]['method']=method    
                new_child[o]['authentication']=authentication    
                new_child[o]['content_type']=content_type
                new_child[o]['response_to_be_shown']=response_to_be_shown
                              
                new_child[o]['path']=childs_iterate['path'].slice()
                if(childs_iterate['children']==undefined){
                  
                new_child[o]['path'].push(o)
                }
                else{
                  new_child[o]['path'].push(childs_iterate['children'].length)
                }
                new_child[o]['name']=new_child[o]['name']+new_child[o]['path']


            }
}


function new_node_creation(childs_iterate){
  for(o=0;o<new_nodes.length;o++){

                new_child[o]={};
                new_child[o]['name']=new_nodes[o];
                new_child[o]['url']="https://stackedit.io/";
                new_child[o]["experience"]="Practical";            
                new_child[o]["type"]=array_dict['type']            
                new_child[o]['path']=childs_iterate['path'].slice()
                if(childs_iterate['children']==undefined){
                  
                new_child[o]['path'].push(o)
                }
                else{
                  new_child[o]['path'].push(childs_iterate['children'].length)
                }
                new_child[o]['name']=new_child[o]['name']+new_child[o]['path']


            }
}

function new_child_creation_for_api(childs_iterate,path_value,name_of_node){
  var new_child1=[]
  for(o=0;o<1;o++){

                new_child1[o]={};
                new_child1[o]['name']=name_of_node
                new_child1[o]['url']="https://stackedit.io/";
                new_child1[o]["experience"]="Practical";            
                new_child1[o]["type"]='enter the user input'            
                new_child1[o]['path']=childs_iterate['path'].slice()
                if(childs_iterate['children']==undefined){
                  
                new_child1[o]['path'].push(o)  
                new_child1[o]['path'].push(path_value)
                }
                else{
                  new_child1[o]['path'].push(childs_iterate['children'].length)
                }
                new_child1[o]['name']=new_child1[o]['name']+new_child1[o]['path']


            }
            return(new_child1)
}



var new_child=[];
var new_child_success=[]
var new_child_fail=[]


new_nodes.push(adding_value)

function find_id(childs_iterate){
    
    if(childs_iterate['id']==array_dict['selected_id']){
            
            if (array_dict['api']==undefined){
              
              new_node_creation(childs_iterate)
            }
            else{              
              
              new_API_creation(childs_iterate)
              
              new_child_success=new_child_creation_for_api(childs_iterate,0,'success'+adding_value)
              new_child_fail=new_child_creation_for_api(childs_iterate,1,'fallback'+adding_value)

            }


            if (childs_iterate['path']==[0]){
              path_string="root123['children']=new_child"
            }

            else{
            path_string="root123['children']"
            for(n=1;n<childs_iterate['path'].length;n++){  
              
                if(n==((childs_iterate['path'].length)-1)){
                question_string=path_string+'['+childs_iterate['path'][n]+"]['question']"
                }

                path_string=path_string+'['+childs_iterate['path'][n]+"]['children']"                

            }

          
var path_string1=path_string

          if(childs_iterate['children']==undefined){
            
          path_string=path_string+"=new_child"
            //question_string=question_string+"=question"

          }
          else{
            
            path_string=path_string+".push(new_child[0])"
          }
        }
        
          eval(path_string)
          
          if(array_dict['api']=='api'){
            eval(path_string1+'[0]["children"]=new_child_success')
            eval(path_string1+'[0]["children"].push(new_child_fail[0])')
          
            
          }






            //eval(question_string)
            const getCircularReplacer = () => {
  const seen = new WeakSet();
  return (key, value) => {
    if (typeof value === "object" && value !== null) {
      if (seen.has(value)) {
        return;
      }
      seen.add(value);
    }
    return value;
  };
};

//document.getElementById('alert').style.display="block"


$.ajax({
	type : "POST",
	url : '/saving_data',
	dataType: "json",
	data: JSON.stringify(root123, getCircularReplacer()),
	contentType: 'application/json;charset=UTF-8',
	success: function (data) {		
        
        console.log('frank')
        document.getElementById('save').click();
		}
	});

            
        }
    else{


for (j[childs_iterate['id']] in Object.keys(childs_iterate)){
            
        
            if(Object.keys(childs_iterate)[j[childs_iterate['id']]]=='children'){

                
                for (z[childs_iterate['id']]=0;z[childs_iterate['id']]<childs_iterate['children'].length;z[childs_iterate['id']]++){
                    find_id(childs_iterate['children'][z[childs_iterate['id']]])
            }

            }

        }
    }
    
}
j={}
z={}
find_id(root)


// function collapse(d) {
//   if (d.children) {

//                    d._children = d.children;
//                    d._children.forEach(collapse);
//                    d.children = null;
//                    }
// }    

// root123.children[0].children.forEach(collapse);


//chart(root123)





}

function user_format(d){
          
          $("#text").click(function() {    
            

            create_new_child('text box')
            document.getElementById('save').click();
            

          });
          $("#option").click(function() {
            document.getElementById('validate_width_max').style.display='block';
            document.getElementById('validate').style.display='none'    
            document.getElementById('hide_buttons').remove()
            document.getElementById('option').style.display='none'
            document.getElementById('text').style.display='none'
            openForm(1)
            bot()

            
          });
          $("#image").click(function() {   
            document.getElementById('validate_width_max').style.display='block';
            document.getElementById('validate').style.display='none'    
            document.getElementById('hide_buttons').remove()
            document.getElementById('image_file').style.display='block'
            document.getElementById('normal_text').style.display='none'
            document.getElementById('image').style.display='none'
            document.getElementById('API').style.display='none'
            openForm(1)
            bot()
            document.getElementById("myForm").style.display = "none";
          });
          $("#normal_text").click(function() {    
            
            document.getElementById('validate_width_max').style.display='block';
            
            document.getElementById('validate').style.display='none'    
            document.getElementById('hide_buttons').remove()
            document.getElementById('normal_text').style.display='none'
            document.getElementById('image').style.display='none'
            document.getElementById('API').style.display='none'
            openForm(1)
            bot()
          });
                    $("#gallery").click(function() {    


          });

          $("#API").click(function() {    
            document.getElementById('validate_width_max').style.display='block';
            document.getElementById('validate').style.display='none'    
            document.getElementById('hide_buttons').remove()
            document.getElementById('normal_text').style.display='none'
            document.getElementById('image').style.display='none'
            document.getElementById('API').style.display='none'
            document.getElementById('api_call').style.display='block'
            document.getElementById('authentication').style.display='block'

            document.getElementById('content_type').style.display='block'
            document.getElementById('response_to_be_shown').style.display='block'            
            
            $.post("http://127.0.0.1:5000/apicall_data",{},  function(data, status, xhr) {
              console.log(data)
              console.log('frak')
              
              
              for (key in data['array1']) {
                debugger;
                
                
                
                
                if (data['typeof1'][key]=='enter the bot response'){

                  
                  if (data['array1'][key].length!=1){
                    
                    if(data['typeof1'][data['array1'][key][0]]=='enter the user input'){
                    console.log(1)
                    
                    if(key.substring(0,6)!='http:/' && key.substring(0,6)!='https:'){

  console.log()

                      //previous_questions.push(key.substring(0,key.length-(data['array1'][key][1].toString().length-2)))
                      previous_questions.push(key)
                    }
                    

                    
                  }  
                  }
                  else{
                  if(data['typeof1'][data['array1'][key][0]]=='enter the user input'){
                    console.log(2)
                    
                  }
                }
                }

  }



  some=''
            for(i=0;i<previous_questions.length;i++){
              some=some+'<input type="checkbox" id="'+previous_questions[i]+'" onclick="show_textbox_for_key(this)"/> '+previous_questions[i]+'<br>'
            }
            document.getElementById('check_box').innerHTML=some

            });

console.log(previous_questions)
            openForm(1)
            bot()
            
            array.push('api')
            array_dict['api']='api'
          });



      }


function create_options(temp1,temp2){
  d3.select("chart")
                    .append("text")
                    .style("position", "absolute")           
                    .style("width",15+"%")         
                    .style("left", (array_dict['x_position']+180) + "px")		
                    .style("top", (array_dict['y_position']-61) + "px")
                    .html(temp2)
                    .on("click",eval(temp1));
}

function warning(d){
  
  if(d['type']=='enter the user input'){
  
      //alert('there cannot be two user input consequently')

              
        function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function demo() {
          await sleep(2000);
          location.reload()

        }

        demo();


  }

}


var root = JSON.parse('{{ data | tojson | safe}}');

var root123=JSON.parse(JSON.stringify(root));
var array=[];
var array_dict={}

function openForm(val)
                    {

  document.getElementById("myForm").style.display = "block";
                        some=''
                        for(i=0;i<val;i++){
                            if ((array_dict['type'])=='enter the user input'){
                              some=some+"<input type='text' placeholder='Enter user choice to display text box' id=val+"+i+">"  
                            }

                            else{

                            some=some+"<input type='text'  placeholder='"+array_dict[`type`]+"'  id=val+"+i+">"
                            }
                                                }

  document.getElementById('entries').innerHTML=some

}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}


                   
function bot(){

    // var popup = document.getElementById("myPopup");
    // popup.classList.toggle("show");


    
              }


function chart(root){

if (array!=[]){array=[]

  array_dict={}
}


    d3.selectAll("svg").remove(); 

var div = d3.select("chart").append("div")	
    .attr("class", "tooltip")				
    .style("opacity", 0);

var tooltip = d3.select("chart")
    .append("div")
    .style("opacity", 0)
    .attr("class", "tooltip")
    .style("background-color", "white")
    .style("border", "solid")
    .style("border-width", "2px")
    .style("border-radius", "5px")
    .style("padding", "5px")

    var mouseover = function(d) {
    tooltip
      .style("opacity", 1)
    d3.select(this)
      .style("stroke", "black")
      .style("opacity", 1)
  }
  var mousemove = function(d) {
    if (d.name=='text box'){value='user choice'}
    else {value=d.name}

    tooltip
      .html("" + value)
      .style("left", (d3.mouse(this)[0]+70) + "px")
      .style("top", (d3.mouse(this)[1]+70) + "px")
      .style("opacity", 1)
  }
  var mouseleave = function(d) {
    
    tooltip
    
      .style("opacity", 1)
    d3.select(this)
      .style("stroke", "none")
      .style("opacity", 0.8)
  }
  var hideTooltip = function(d) {
    
    tooltip
      .transition()
      .duration(100)
      .style("opacity", 0)
      d3.select(this)
      .style("stroke", "none")
      .style("opacity",0.8)
      
  }
                   //root = JSON.parse(JSON.stringify(data));

                   






var margin = {top: 1000, right: 200, bottom: 10, left: 120},
                   width = 10000 - margin.right - margin.left,
                   height = 3000 - margin.top - margin.bottom;
                   
                   var i = 0,
                   duration = 750,
                   root;
                   
                   var tree = d3.layout.tree().nodeSize([90, 100]);
                   
                   
                   var diagonal = d3.svg.diagonal()
                   .projection(function(d) { return [d.y, d.x]; });
                   
//                   var svg = d3.select("#halfpage").append("svg")
                   var svg = d3.select("chart").append("svg")
                    


                   .attr("width", width + margin.right + margin.left)
                   .attr("height", height + margin.top + margin.bottom)
                   .append("g")
                   .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
                   
                   //var data = document.getElementById('data').innerHTML;
                   //root = JSON.parse(data);
                   root.x0 = height / 2;
                   root.y0 = 0;
                   




                   function collapse(d) {
                    if (d.children) {    d.children.forEach(collapse);}                   }
                   
                   root.children.forEach(collapse);
                   function exp(d){
if (d.children) {
                   
                   d._children = d.children;
                   d.children = null;
                   
                   } else {
                   d.children = d._children;
                   d._children = null;
                   

                   }
                   update(d);                   
                  }

                   update(root);

                  //  array_exp={}

                  //  function expand(data,uni){
                  
                  //    if(data['children']==undefined){

                  //    }
                  //    else{

                  
                  //     for(array_exp[uni]=0;array_exp[uni]<data['children'].length;array_exp[data.name]++){
                  //       update(data['children'][array_exp[uni]])
                  //           expand(data['children'][array_exp[uni]],)

                  //     }

                  //    }

                  //  }
                  //  expand(root['children'],root['id'])


                   
                   
                   
                   d3.select(self.frameElement).style("height", height + "px");
                   
                   function update(source) {
                     
                   

                    // Compute the new tree layout.
                    
 //                   var nodes = tree.nodes(root).reverse();
var nodes = tree.nodes(root);
 
//     links.forEach(function(d) { d["target"].y = d["source"].y+300; });  // Normalize for fixed-depth.  // nodes.forEach(function(d) { d.y = d.depth * 180; });



  links = tree.links(nodes);
                  nodes.forEach(function(d) {
                  //   if (d.parent!=undefined){
                  //   if(d.parent.children.length%2!=0){
                  //     if(d.parent.children.length==1){
                  //       d.x=d.parent.x
                  //     }
                  //     else{
                        
                  //       d.x=d.parent.x-(((((d.parent.children.length-3)/2)+1)*100)-(d.path[d.path.length-1]*100))
                  

                  //     }



                  //   }
                  //   else{
                  //     if(d.parent.children.length==1){
                  //       d.x=d.parent.x
                  //     }
                  //     else{
                        
                  //       d.x=d.parent.x-(((((d.parent.children.length-3)/2)+1)*100)-(d.path[d.path.length-1]*100))
                  

                  //     }



                      
                  //   }
                  // }



                    
                     d.y = (d.depth * 200) ;
                   });
                   
// links = tree.links(nodes);

//                    links.forEach(function(d) { 

//                     d.source.y=d.source.y+200

// })

// nodes.forEach(function(d) { d["target"].y = d["source"].y+100; 

// });

//                    links = tree.links(nodes);

                   
                   // Normalize for fixed-depth.

                   
                   // Update the nodes…
                   var node = svg.selectAll("g.node")
                   
                   .data(nodes, function(d) { return d.id || (d.id = ++i); })
                   
                   
                   // Enter any new nodes at the parent's previous position.
                   
                   var nodeEnter = node.enter().append("g")
                   .attr("class", "node")
                   
                   
                   .attr("transform", function(d) { return "translate(" + (source.y0) + "," + source.x0 + ")"; })
                   .on("mouseover", function(d) {
                     
        

        if (d.name.substring(0,7)=='success'){value='success'}
        else if(d.name.substring(0,7)=='fallbac'){value='fallback'}
else {
  
  value=d.name.substring(0,d.name.length-d.path.toString().length)}
div.transition()		
.duration(200)		
.style("opacity",.9);		

div.html("<div style = 'font-style: bold;font-size:15px'>"+value+"</div>" )	
.style("left", (d3.event.layerX + 10) + "px")		
.style("top", (d3.event.layerY + 10) + "px");	
})					
.on("mouseout", function(d) {		
div.transition()		
.duration(500)		
.style("opacity", 0)});




                   //.on("dblclick", double_click)


                   
                   
                  //  nodeEnter.append("rect")
                  // .attr("width", 60)
                  // .attr("height", 30)
                  // .attr("stroke", "black")
                  // .style("opacity", function(d){
                  
                  //       if (d.type == "enter the user input") {
                  //          return 1.0
                  //      }  
                  //      else{return 0}
                  //      })
                  // .attr("stroke-width", 1)
                  //           .style("fill",function(d) {
                  //      if (d.experience == "Practical") {
                  //          return "lightgreen"
                  //      } else if (d.experience == "basic") {
                  //          return "lightyellow"
                  //      } else if (d.experience == "none") {
                  //          return "lightred"
                  //      } else { return "lightsteelblue" }})
                  //  .style("stroke",function(d) {
                  //      if (d.experience == "Practical") {
                  //          return "green"
                  //      } else if (d.experience == "basic") {
                  //          return "yellow"
                  //      } else if (d.experience == "none") {
                  //          return "red"
                  //      } else { return "steelblue" }});

                       

                       nodeEnter.append('text')
                       
    .attr('font-family', 'FontAwesome')
    
    .attr('font-size', function(d) { return 3+'em'} )
    .attr("text-anchor", "middle")
    .attr("y",15)
    .style("opacity", 0.5)

    .text(function(d) {if(d.type=='enter the user input'){return '\uf007'}
                    else{
                      return '\uf27a'
                    }  }); 


                  //  nodeEnter.append("text")
                  //  .attr("x", function(d) {  return d.children || d._children ? -100 : 100; })
                   
                  //  .attr("dy", ".35em")
                  //  .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
                  //  .text(function(d) { 
                  //   if(d.type=='enter the user input'){return 'User input'}
                  //   else{
                  //     return 'bot response'
                  //   } 
                    
                                      
                  
                  // } )
                  //  .style("fill-opacity",1e-6);
                   
                   


                   // Transition nodes to their new position.
                   var nodeUpdate = node.transition()
                   .duration(duration)
                   .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });
                   
                   nodeUpdate.select("circle")
                   .attr("r", 4.5)
                   .style("fill",function(d) {
                       if (d.experience == "Practical") {
                           return "#04AA6D";
                       } else if (d.experience == "basic") {
                           return "yellow";
                       } else if (d.experience == "none") {
                           return "red";
                       } else if (d._children) {
                           return "lightsteelblue";
                       } else {
                           return "#fff";
                       }
                   });
                   
                   nodeUpdate.select("text")
                   .style("fill-opacity", 1);
                   
                   // Transition exiting nodes to the parent's new position.
                   var nodeExit = node.exit().transition()
                   .duration(duration)
                   .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
                   .remove();
                   
                   nodeExit.select("circle")
                   .attr("r", 1e-6);
                   


                  //  var nodes = tree.nodes(root).reverse();

                        var node = svg.selectAll("g.node")
                        .append("foreignObject")
                            .attr("x", function(d){ 
                              if(d.type=='enter the user input'){return 5}
                    else{
                      return 15
                    } 
                            })
                            .attr("y", -30)
                            .attr("width", 25)
                            .attr("height", 50)


                            .html(function(d) {         

                                return '</br><button class="w3-button w3-xlarge w3-circle w3-teal" id='+d.id+' style=" border-radius: 15px;border-width:2px;border-style:solid ">+</button> '
                            })
                            .on("click", click)
                        



                   nodeExit.select("text")
                   .style("fill-opacity", 1e-6);
                   
                   // Update the links…
                   var link = svg.selectAll("path.link")
                   .data(links, function(d) { return d.target.id; });
                   
                   // Enter any new links at the parent's previous position.
                   link.enter().insert("path", "g")
                   .attr("class", "link")
                   .attr("d", function(d) {
                   var o = {x: source.x0, y: source.y0};
                   return diagonal({source: o, target: o});
                   });
                   
                   // Transition links to their new position.
                   link.transition()
                   .duration(duration)
                   .attr("d", diagonal);
                   
                   // Transition exiting nodes to the parent's new position.
                   link.exit().transition()
                   .duration(duration)
                   .attr("d", function(d) {
                   var o = {x: source.x, y: source.y};
                   return diagonal(
                     
                   {source: o, target: o});
  })
                   .remove();
                   
                   // Stash the old positions for transition.
                   nodes.forEach(function(d) {
                   d.x0 = d.x;
                   d.y0 = d.y;
                   });
  }
                   
                   // Toggle children on click.


                    // function double_click(d){
                        
                    //     var text_new=d;
                    //     array.push(text_new.id)
                        
                        
                        
                    //         document.getElementById(d.id).style.display = "block";
                            
                    //             var input=document.getElementById(d.id)                        
                                
                        

                    // }


                   function click(d) {
                    
                    let pos = d3.mouse(this);

                

              
if(array_dict['hide_user_input']!=undefined){
    
  document.getElementById('hide_buttons').remove()
  
}


                d3.select("chart")
                    .append("text")
                    .style("position", "absolute")
                    .style('width','150px')
                    .style("left", (d3.event.layerX + 30) + "px")		
                    .style("top", (d3.event.layerY -100) + "px")
                    .html(`<div id='hide_buttons' style='display:block;'><button style='width: 100%;opacity: 0.75;' onMouseOver="this.style.color='#04AA6D'" id="user_input" onMouseOut="this.style.color='black'"><i class="fas fa-user"></i> user input</button><button style='width: 100%;opacity: 0.75' onMouseOver="this.style.color='#04AA6D'" id='bot_response' onMouseOut="this.style.color='black'"><i class="fas fa-comment-dots"></i> bot response</button><button style='width: 100%;opacity: 0.75;' onMouseOver="this.style.color='#04AA6D'" id="delete" onMouseOut="this.style.color='black'"><i class="fas fa-user"></i> delete</button><button style='width: 100%;opacity: 0.75;' onMouseOver="this.style.color='#04AA6D'" id="edit" onMouseOut="this.style.color='black'"><i class="fas fa-user"></i> edit</button></div><button style='width: 100%;opacity: 0.75;' onMouseOver="this.style.color='#04AA6D'" id="validate" onMouseOut="this.style.color='black'"><i class="fas fa-user"></i> validate</button></div>`);
                    console.log(d3.event.layerX)
                    console.log(d3.event.layerY)                
                    text_new=d
                    array=[]
                    array_dict={}
                    array_dict['hide_user_input']=1



                    array.push(text_new.id)
                    console.log(text_new.id)
                    
                    array_dict['selected_id']=text_new.id

                    array.push(d3.event.layerX)
                    array_dict['x_position']=d3.event.layerX
                    array.push(d3.event.layerY)
                    array_dict['y_position']=d3.event.layerY

                        
                        function myFunction() {
                        
                        //   var popup = document.getElementById("myPopup");
                        // popup.classList.toggle("show");
                        user=document.getElementById('user_input')
                        //user.onclick=bot
                        bot_res=document.getElementById('bot_response')
                        //bot_res.onclick=bot
                          
                        $(document).ready(function() {
  $("#user_input").click(function() {
      warning(d)

      create_options("user_format(this)",`<button id='text' style='width: 100%;opacity: 0.75;' onMouseOver="this.style.color='#04AA6D'" onMouseOut="this.style.color='black'" >text box</button><button id='option' style='width: 100%;opacity: 0.75;' onMouseOver="this.style.color='#04AA6D'" onMouseOut="this.style.color='black'" >button</button>`)

      array.pop()
      array.pop()
      
      array.push(1)
      array_dict['text_box_count']=1

      array.push('enter the user input')
      array_dict['type']='enter the user input'
  });


$("#validate").click(function() {

      //warning(d)

    document.getElementById('validate_width_max').style.display='block'
      
      if (d['content_type']!=undefined){

      adding_value_for_validation=document.createElement("text");
      adding_value_for_validation.id='val+0'
      adding_value_for_validation.value='0'

      
      adding_value_for_validation.value='frank'
      array_dict['count_for_api_validation']=0
      array_dict['type']='validation'
      
        document.getElementById("myForm").style.display = "block";
        document.getElementById('myForm').appendChild(adding_value_for_validation)
        document.getElementById("validate_width_max").style.width = "100%";
        document.getElementById("validate_width_max").style.marginLeft = "25%";
        // document.getElementById("form-container input[type=text]").style.width = "50%";
        
        

        





//        document.getElementById('myForm').appendChild(adding_value_for_validation)
        document.getElementById('validate_query_builder').style.display='block';

        $('#validate_query_builder').append("<button id='Add_group1' onclick=create_group(this.id)>Add_group</button><button id='Add_rule1' onclick='create_rule(this.id)'>Add_rule</button><div style='display:inline-block' class='validate_container'><div class='switch-toggle'><input type='checkbox' id='logical1' value='AND' onchange=logical_condition_change(this)><label for='logical1'></label></div></div><div class='Add_group1RR'></div>");








        //create_new_condition_for_response('first')
        

        //document.getElementById('entries').innerHTML=text

        //document.getElementById("adding_one_more_response_condition").style.display = "block";





                    


      }
      else{
        if(d.type=='enter the user input'){
          

      create_options("user_format(this)",`<button id='phone_validation' style='width: 100%;opacity: 0.75;' onMouseOver="this.style.color='#04AA6D'" onMouseOut="this.style.color='black'" >phone number</button><button id='email_validation' style='width: 100%;opacity: 0.75;' onMouseOver="this.style.color='#04AA6D'" onMouseOut="this.style.color='black'" >Email</button>`)

      function finding_id_for_validation(childs_iterate,validation_value){
    
    if(childs_iterate['id']==array_dict['selected_id']){
      


            if (childs_iterate['path']==[0]){
              path_string="root123['children']=new_child"
            }

            else{
            path_string="root123['children']"
            for(n=1;n<childs_iterate['path'].length-1;n++){  
              
                if(n==((childs_iterate['path'].length)-1)){
                question_string=path_string+'['+childs_iterate['path'][n]+"]['question']"


                }
                path_string=path_string+'['+childs_iterate['path'][n]+"]['children']"        

                
            }
            


path_string=path_string+'[0]["validation"]=validation_value'
        
eval(path_string)        





            //eval(question_string)
            const getCircularReplacer = () => {
  const seen = new WeakSet();
  return (key, value) => {
    if (typeof value === "object" && value !== null) {
      if (seen.has(value)) {
        return;
      }
      seen.add(value);
    }
    return value;
  };
};

//document.getElementById('alert').style.display="block"

            $.ajax({
	type : "POST",
	url : '/saving_data',
	dataType: "json",
	data: JSON.stringify(root123, getCircularReplacer()),
	contentType: 'application/json;charset=UTF-8',
	success: function (data) {		
        
		}
	});
  document.getElementById('save').click();
            }
            
        }
    else{


for (j[childs_iterate['id']] in Object.keys(childs_iterate)){
            
        
            if(Object.keys(childs_iterate)[j[childs_iterate['id']]]=='children'){

                for (z[childs_iterate['id']]=0;z[childs_iterate['id']]<childs_iterate['children'].length;z[childs_iterate['id']]++){
                    finding_id_for_validation(childs_iterate['children'][z[childs_iterate['id']]],validation_value)

            }

            }

        }
    }
    
}
j={}
z={}



      $("#phone_validation").click(function() {

        finding_id_for_validation(root,'phone number')

      });
      $("#email_validation").click(function() {
        finding_id_for_validation(root,'email')

});



        }
      }




    });


$("#edit").click(function() {
      //warning(d)
      
      if (d['type']=='enter the user input'){
        document.getElementById('user_input').click()
        
        

      }

  });
  
  $("#bot_response").click(function() {
//    <button id='gallery' style='width: 100%;opacity: 0.75;' onMouseOver="this.style.color='#04AA6D'" onMouseOut="this.style.color='black'" >gallery</button>
    create_options("user_format(this)",`<div id='hide_'><button id='image' style='width: 100%;opacity: 0.75;' onMouseOver="this.style.color='#04AA6D'" onMouseOut="this.style.color='black'" >image</button><button id='normal_text' style='width: 100%;opacity: 0.75;' onMouseOver="this.style.color='#04AA6D'" onMouseOut="this.style.color='black'" >text</button><button id='API' style='width: 100%;opacity: 0.75;' onMouseOver="this.style.color='#04AA6D'" onMouseOut="this.style.color='black'" >API</button>`)    
    array.pop()
    array.pop()
    array.push(1)
    array_dict['text_box_count']=1
    
    array.push('enter the bot response')
    array_dict['type']='enter the bot response'

    //bot();
  });

  $("#delete").click(function() {



function finding_id_for_delete(childs_iterate){
    
    if(childs_iterate['id']==array_dict['selected_id']){
      


            if (childs_iterate['path']==[0]){
              path_string="root123['children']=new_child"
            }

            else{
            path_string="root123['children']"
            for(n=1;n<childs_iterate['path'].length-1;n++){  
              
                if(n==((childs_iterate['path'].length)-1)){
                question_string=path_string+'['+childs_iterate['path'][n]+"]['question']"
                }
                path_string=path_string+'['+childs_iterate['path'][n]+"]['children']"        

                
            }

if(eval(path_string).length==1){

path_string=path_string+'=[]'
eval(path_string)

}
else if((childs_iterate['parent']['children'].length-1)==childs_iterate['path'][childs_iterate['path'].length-1]){

path_string=path_string+'.pop()'
eval(path_string)

}
else{


function changing_path_for_deleted_siblings(sibling_children){


  if(eval(sibling_children+"['children']")!=undefined){
  for(y[eval(sibling_children+"['path']").toString()]=0;y[eval(sibling_children+"['path']").toString()]<eval(sibling_children+"['children']").length;y[eval(sibling_children+"['path']").toString()]++){
    
    eval(sibling_children+`['children'][`+y[eval(sibling_children+"['path'].toString()")]+`]`)['path'][position] =  eval(sibling_children+`['children'][`+y[eval(sibling_children+"['path'].toString()")]+`]`)['path'][position]-1
    changing_path_for_deleted_siblings(sibling_children+"['children']["+y[eval(sibling_children+"['path'].toString()")]+"]")


  }
}


  


console.log(position)

}

// path_string=path_string+'.splice('+childs_iterate['path'][childs_iterate['path'].length-1]+',1)'



for(x=childs_iterate['path'][childs_iterate['path'].length-1];x<childs_iterate['parent']['children'].length;x++){
  console.log(x)


  position=childs_iterate['path'].length-1
  eval(path_string)[x]['path'][position]=eval(path_string)[x]['path'][position]-1
  console.log('frank') 

  y={}
  if(eval(path_string)[x]['children']!=undefined){

    changing_path_for_deleted_siblings(path_string+'['+[x]+"]")

  }



}


eval(path_string+'.splice('+childs_iterate['path'][childs_iterate['path'].length-1]+',1)')





}




        }
        
        





            //eval(question_string)
            const getCircularReplacer = () => {
  const seen = new WeakSet();
  return (key, value) => {
    if (typeof value === "object" && value !== null) {
      if (seen.has(value)) {
        return;
      }
      seen.add(value);
    }
    return value;
  };
};

//document.getElementById('alert').style.display="block"

            $.ajax({
	type : "POST",
	url : '/saving_data',
	dataType: "json",
	data: JSON.stringify(root123, getCircularReplacer()),
	contentType: 'application/json;charset=UTF-8',
	success: function (data) {		
        
		}
	});
  document.getElementById('save').click();

            
        }
    else{


for (j[childs_iterate['id']] in Object.keys(childs_iterate)){
            
        
            if(Object.keys(childs_iterate)[j[childs_iterate['id']]]=='children'){

                for (z[childs_iterate['id']]=0;z[childs_iterate['id']]<childs_iterate['children'].length;z[childs_iterate['id']]++){
                    finding_id_for_delete(childs_iterate['children'][z[childs_iterate['id']]])

            }

            }

        }
    }
    
}
j={}
z={}
finding_id_for_delete(root)







//bot();
});



});

                        }

                        myFunction()
                       
                       var flag=0;
// if (d.children==undefined){
//     if (d._children==undefined){
//         document.getElementById('question').innerHTML=''
//     }
//     else{                  document.getElementById('question').innerHTML=d.question}
// }
// else{
//                             document.getElementById('question').innerHTML=d.question
// }


                   }

                }

chart(root)

window.scrollTo( {left:0,top: screen.height/2+300 ,behavior: 'instant'});

</script>

<style type='text/css'>

.node circle {
                 fill: #fff;
                 stroke: steelblue;
                 stroke-width: 1.5px;
                 }
                 
                 .node {
                 font: 15px sans-serif;
                 }
                 
                 .link {
                 fill: none;
                 stroke: #ccc;
                 stroke-width: 1.5px;
                 }





                 .open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;					
    color:black;
    height: auto;					
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    opacity: 0.5;				
    font: 12px sans-serif;		
    background:#add8e6;	
    
    border-radius: 8px;			
    pointer-events: none;			
}


.popup {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color:white;
  color:black;
  text-align: center;
  border: 1px solid white;
  
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


/* The popup form - hidden by default */
.form-popup {

  
  display: none;
  width: 100%;
  position: relative;
  bottom: 0;
  


  z-index: 9;
  
}

/* Add styles to the form container */
.form-container {
  width: 100%;
  padding: 10px;


}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-container ::-webkit-scrollbar {
  display: none;
}


.question_container{
    text-align: center;
    border:5px solid whitesmoke;


}

#confirm {
            display: none;
            background-color: #91FF00;
            border: 1px solid #aaa;
            position: fixed;
            width: 250px;
            left: 50%;
            margin-left: -100px;
            padding: 6px 8px 8px;
            box-sizing: border-box;
            text-align: center;
         }
         #confirm button {
           opacity: 0.8;
            background-color: #48E5DA;
            display: inline-block;
            border-radius: 5px;
            border: 1px solid #aaa;
            padding: 5px;
            text-align: center;
            width: 80px;
            cursor: pointer;
         }
         #confirm .message {
            text-align: left;
         }
         /* Style The Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #04AA6D;
}


.switch-holder {
    display: flex;
    
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: -8px -8px 15px rgba(255,255,255,.7),
                10px 10px 10px rgba(0,0,0, .3),
                inset 8px 8px 15px rgba(255,255,255,.7),
                inset 10px 10px 10px rgba(0,0,0, .3);
    justify-content: space-between;
    align-items: center;
}

.switch-label {
    width: 150px;
}

.switch-label i {
    margin-right: 5px;
}

.switch-toggle {
    height: 20px;
}

.switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
}

.switch-toggle input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    box-shadow: inset -8px -8px 15px rgba(255,255,255,.6),
                inset 10px 10px 10px rgba(0,0,0, .25);
    
}

.switch-toggle input[type="checkbox"] + label::before {
    position: absolute;
    content: 'AND';
    font-size: 10px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    top: 4px;
    left: 8px;
    width: 25px;
    height: 15px;
    border-radius: 20px;
    background-color: #00b33c;
    box-shadow: -3px -3px 5px rgba(255,255,255,.5),
                3px 3px 5px #00b33c;
    transition: .3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked + label::before {
    left: 50%;

    content: 'OR';
    color: #fff;
    background-color: #00b33c;
    box-shadow: -3px -3px 5px rgba(255,255,255,.5),
                3px 3px 5px #00b33c;
}

.validate_container{

	width:50px
}

label{
    
	width: 50px;
}
::-webkit-scrollbar {
    display: none;
}


</style>  
</body>                 

</html>
