@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.drag-area {
    border: 2px black;
    height: 200px;
    opacity: 0.8;
    background-color: #216DB4;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 82%;
    margin-left: 0%;
    padding-top: 8%;
}

.drag-area.active {
    border: 2px solid #fff;
}

.drag-area .icon {
    font-size: 30px;
    color: #fff;
}

.drag-area header {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.drag-area span {
    font-size: 10px;
    font-weight: 100;
    color: #fff;
    margin: 10px 0 15px 0;
}

.drag-area button {
    padding: 2px 25px;
    font-size: 20px;
    font-weight: 100;
    border: none;
    outline: none;
    background: #fff;
    color: #216DB4;
    border-radius: 5px;
    cursor: pointer;
}

.drag-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}