#start_icon {
    width: 5%;
    border-radius: 100%;
    position: fixed;
    z-index: 5;
    left: 90%;
    top: 90%;
    height: 5%;
}

.main-div-image {
    width: 80%;
    height: 150%;
    border-radius: 50%;
    margin-top: -22%;
}

.chat-box-container {
    margin-top: -38%;
    height: 65%;
    width: 22%;
    border: 1px solid rgb(0, 0, 0, 0.2);
    margin-left: -19%;
    position: fixed;
    box-shadow: rgba(149, 157, 165, 0.2) 1px 8px 24px;
    background-color: #ffffff;
    display: none;
}

.chat-header {
    background-color: #216DB4;
    height: 10%;
    width: 100%;
}

.chat-body {
    background-color: white;
    height: 80%;
    width: 100%;
    overflow-y: scroll;
}

.chat-footer {
    background-color: white;
    height: 10%;
    width: 100%;
}

.chat-text-box {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.send-icon {
    position: absolute;
    width: 13%;
    height: 7%;
    z-index: 1;
    left: 86%;
    top: 91%;
}

.self-message {
    width: 100%;
    margin: 0 0 15px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.self-message-inside-div {
    padding: 6px 10px;
    border-radius: 6px 0 6px 0;
    position: relative;
    background: rgba(100, 170, 0, .1);
    border: 2px solid rgba(100, 170, 0, .1);
    color: #6c6c6c;
    font-size: 12px;
    max-width: 70%;
    margin-right: 3%;
}

.message-partner {
    margin-left: 3%;
    background: rgba(0, 114, 135, .1);
    border: 2px solid rgba(0, 114, 135, .1);
    align-self: flex-start;
    max-width: 77%;
    padding-left: 5%;
    padding-right: 5%;
}

.image_style {
    width: 100%;
    height: 100%;
}

.image_style {
    width: 100%;
    height: 100%;
}

.style-for-button {
    background-color: transparent;
    border: 0px solid black;
}#start_icon {
    width: 5%;
    border-radius: 100%;
    position: fixed;
    z-index: 5;
    left: 90%;
    top: 90%;
    height: 5%;
}

.main-div-image {
    width: 80%;
    height: 150%;
    border-radius: 50%;
    margin-top: -22%;
}

.chat-box-container {
    margin-top: -38%;
    height: 65%;
    width: 22%;
    border: 1px solid rgb(0, 0, 0, 0.2);
    margin-left: -19%;
    position: fixed;
    box-shadow: rgba(149, 157, 165, 0.2) 1px 8px 24px;
    background-color: #ffffff;
    display: none;
}

.chat-header {
    background-color: #216DB4;
    height: 10%;
    width: 100%;
}

.chat-body {
    background-color: white;
    height: 80%;
    width: 100%;
    overflow-y: scroll;
}

.chat-footer {
    background-color: white;
    height: 10%;
    width: 100%;
}

.chat-text-box {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.send-icon {
    position: absolute;
    width: 13%;
    height: 7%;
    z-index: 1;
    left: 86%;
    top: 91%;
}

.self-message {
    width: 100%;
    margin: 0 0 15px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.self-message-inside-div {
    padding: 6px 10px;
    border-radius: 6px 0 6px 0;
    position: relative;
    background: rgba(100, 170, 0, .1);
    border: 2px solid rgba(100, 170, 0, .1);
    color: #6c6c6c;
    font-size: 12px;
    max-width: 70%;
    margin-right: 3%;
}

.message-partner {
    margin-left: 3%;
    background: rgba(0, 114, 135, .1);
    border: 2px solid rgba(0, 114, 135, .1);
    align-self: flex-start;
    max-width: 77%;
    padding-left: 5%;
    padding-right: 5%;
}

.image_style {
    width: 100%;
    height: 100%;
}

.image_style {
    width: 100%;
    height: 100%;
}

.style-for-button {
    background-color: transparent;
    border: 0px solid black;
}