        #center-text {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        
        #chat-circle {
            position: fixed;
            bottom: 85%;
            right: 27%;
            background: #216DB4;
            width: 116px;
            height: 33px;
            opacity: 1;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 0px;
            font-size: 100%;
            /* box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
        }
        
        .btn#my-btn {
            background: white;
            padding-top: 13px;
            padding-bottom: 12px;
            border-radius: 45px;
            padding-right: 40px;
            padding-left: 40px;
            color: #5865C3;
        }
        
        #chat-overlay {
            background: rgba(255, 255, 255, 0.1);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: none;
        }
        
        .chat-box {
            display: none;
            background: #efefef;
            position: fixed;
            right: 25%;
            bottom: 12%;
            width: 299px;
            max-width: 85vw;
            max-height: 100vh;
            border-radius: 5px;
            /*   box-shadow: 0px 5px 35px 9px #464a92; */
            box-shadow: 0px 5px 35px 9px #ccc;
        }
        /* .chat-box-toggle {
            float: right;
            margin-right: 0px;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0px
        } */
        
        .chat-box-header {
            background: #216DB4;
            height: 70px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            color: white;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
        }
        
        .chat-box-body {
            position: relative;
            height: 370px;
            height: auto;
            border: 1px solid #ccc;
            overflow: hidden;
        }
        
        .chat-box-body:after {
            content: "";
            background-image: url('/static/chat_background.png');
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            position: absolute;
            z-index: -5
        }
        
        #chat-input {
            background: #f4f7f9;
            width: 100%;
            position: relative;
            height: 47px;
            padding-top: 10px;
            padding-right: 50px;
            padding-bottom: 10px;
            padding-left: 15px;
            border: none;
            resize: none;
            outline: none;
            border: 1px solid #ccc;
            color: #888;
            border-top: none;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            overflow: hidden;
        }
        
        .chat-input>form {
            margin-bottom: 0;
        }
        
        #chat-input::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #ccc;
        }
        
        #chat-input::-moz-placeholder {
            /* Firefox 19+ */
            color: #ccc;
        }
        
        #chat-input:-ms-input-placeholder {
            /* IE 10+ */
            color: #ccc;
        }
        
        #chat-input:-moz-placeholder {
            /* Firefox 18- */
            color: #ccc;
        }
        
        .chat-submit {
            position: absolute;
            //bottom:3px;
            right: 0px;
            //background: transparent;
            box-shadow: none;
            //border:none;
            //border-radius:50%;
            color: #DBF6C6;
            width: 47px;
            height: 47px;
            font-size: 14px;
            cursor: pointer;
        }
        
        .chat-logs {
            padding: 15px;
            height: 370px;
            overflow-y: scroll;
        }
        
        .button {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            background-color: #538fbe;
            padding: 20px 70px;
            font-size: 14px;
            border: 1px solid #2d6898;
            background-image: linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);
            background-image: -o-linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);
            background-image: -moz-linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);
            background-image: -ms-linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);
            background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(73, 132, 180)), color-stop(1, rgb(97, 155, 203)));
        }
        
        .chat-logs::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #F5F5F5;
        }
        
        .chat-logs::-webkit-scrollbar {
            width: 5px;
            background-color: #F5F5F5;
        }
        
        @media only screen and (max-width: 500px) {
            .chat-logs {
                height: 40vh;
            }
        }
        
        .chat-msg.user>.msg-avatar img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            float: left;
            width: 15%;
        }
        
        .chat-msg.self>.msg-avatar img {
            width: 45px;
            height: 45px;
            padding-left: 2px;
            border-radius: 10px;
            float: right;
            width: 15%;
        }
        
        #cm-msg-text1 {
            background: white;
            padding: 17px 15px 13px 15px;
            padding-left: 10px;
            color: #666;
            max-width: 70%;
            margin-left: 10px;
            position: relative;
            margin-bottom: 2px;
            border-radius: 10px;
            display: block;
            word-wrap: break-word;
            
        }
        
        .chat-msg {
            clear: both;
        }
        
        .tri-right.border.left-top:before {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: -40px;
            right: auto;
            top: -8px;
            bottom: auto;
            border: 32px solid;
            border-color: #666 transparent transparent transparent;
        }
        
        .tri-right.left-top:after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: -10px;
            right: auto;
            top: 0px;
            bottom: auto;
            border: 22px solid;
            border-color: lightyellow transparent transparent transparent;
        }
        
        .chat-msg.self>.cm-msg-text {
            float: right;
            margin-right: 10px;
            max-width: 75%;
            background: #216DB4;
            color: white;
            font-size: 14px;
            font-family: Helvetica;
            border-radius: 10px;
            opacity: 1;
        }
        
        .cm-msg-button>ul>li {
            list-style: none;
            float: left;
            width: 50%;
        }
        
        .cm-msg-button {
            clear: both;
            margin-bottom: 70px;
        }
        
        table,
        th,
        td {
            border: 1px solid black;
        }