.login {
  min-height: 100vh;
}

.bg-image {

  height:100vh;
  width:100%;
  background-size: cover;
  background-position: center;
  position:absolute;
  object-fit: cover;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

